{
    "root": true,
    "parser": "babel-eslint",
    "rules": {
        "indent": [2, 2],
        "comma-dangle": [2, "always-multiline"]
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "jsx": true,
        "modules": true,
        "arrowFunctions": true,
        "blockBindings": true,
        "defaultParams": true,
        "spread": true,
        "classes": true,
        "templateStrings": true,
        "restParams": true,
    }
}
